@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

:root {
  --primary-color-1: #00BFA6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 350px) {
  html {
    font-size: 12px;
  }
} 

@media (min-width: 675px) {
  html {
    font-size: 17px;
  }
} 

@media (min-width: 1500px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 30px;
  }
}