.container { 
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 7em;
}

.image_container {
  flex-basis: 50%;
}

.landing_page_img {
  max-width: 100%;
  object-fit: contain;
}

.description {
  flex-basis: 50%;
}

.tagline {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  line-height: 1.3em;
  margin-bottom: .4em;
  color: var(--primary-color-1);
}

.explanation {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

.support_title {
  color: var(--primary-color-1);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 3em;
  text-align: center;
}

.partner_img_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.partner_img {
  width: 190px;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
    gap: 2em;
  }
  .partner_img_container {
    flex-direction: column;
    gap: 2em;
  }
  .partner_img {
    width: 180px;
    max-width: 100%;
  }
}