.header {
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 7em;
  font-size: 1rem;
  display: flex;
  gap: .4em;
  align-items: center;
}

.container { 
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1em;
}

.image_container {
  flex-basis: 60%;
}

.landing_page_img {
  max-width: 100%;
  object-fit: contain;
}

.description {
  flex-basis: 40%;
}

.tagline {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3em;
  font-size: 3rem;
  margin-bottom: .4em;
  color: var(--primary-color-1);
}

.explanation {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1em;
  line-height: 1.5em;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}