.layout_container {
  width: 70%;
  margin: 0 auto;
}

.header {
  margin-top: 2em;
  font-size: 1rem;
  display: flex;
  gap: .4em;
  align-items: center;
}

@media (max-width: 480px) {
  .layout_container {
    width: 90%;
  }
}

@media (min-width: 1500px) {
  .layout_container {
    width: 55%;
  }
}